@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

/* ... tus directivas de @tailwind ... */

@keyframes scroll-down {
  0% {
    transform: translateY(-8px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(8px);
    opacity: 0;
  }
}

.animate-scroll-down {
  animation: scroll-down 2s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}